body
{
  	font-family: Arial, sans-serif;
  	overflow: scroll;
  	background-image:url('image/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top center;
}

p,h2,h1 {
  color:#ffffff;
	text-align: center;
}
table, th, tr, td {

	color:#ffffff;
	background-color:gray;
	text-align:center;
	border: 2px solid black;
   	border-collapse: collapse;
	
}
th{
	color:black;
}

table{
	width:100%;
}
header {
  display: block;
  background-color: #999999;
  width: 100%;
  height: 100px;
  color: #ffffff;
}

header h1 {
  text-align: center;
  font-size: 5em;
}

header h1 a {
  color: #ffffff;
  text-decoration: none;
}

fieldset {
  border: 1px solid black;
}

legend {
  color: #00f;
}

label
{
  float: left;
  width: 40%;
  margin-right: 0.5em;
  padding-top: 0.2em;
  text-align: right;
}

textarea
{
  float: left;
  width: 40%;
  margin-right: 0.5em;
  padding-top: 0.2em;
}

input
{
  width: 20%;
  padding-top: 0.2em;
  text-align: middle;
}

footer
{
  display: block;
  background-color:#888888;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

.center {
  text-align: center;
}

#container
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#main_menu
{
  list-style-type: none;
  background-color: #aaaaaa;
  padding: 10px;
}

#main_menu > li
{
  display: inline-block;
}

